<html>
  <head>
    <title>Stat Check</title>
    <link rel="icon" type="image/x-icon" href="/items/1029.png">
    <link rel="stylesheet" href="styles/styles.css" />
    <script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>
    <script src="/scripts/image_hover.js"></script>
  </head>
  <body>
  <div class="background">
  </div>
    <div class="display_champs">
      <div class="champion">
        <img src="champ_images/{{champ_1}}_0.jpg" alt="" />
      </div>
      <div class="champion">
        <img src="champ_images/{{champ_2}}_0.jpg" alt="" />
      </div>
      <div class="stats">
        <form hx-post="/check_stats" onclick="activate_submit()" hx-target=".stats" hx-swap="outerHTML">
          <input name="champ_1" type="hidden" value="{{champ_1}}">
          <input name="champ_2" type="hidden" value="{{champ_2}}">
          {% set stat = ["armor", "attackrange", "attackdamage", "attackspeed", "hp", "hpregen", "movespeed", 
            "resource_bar", "magic_resist"] %}
          {% set item = [1029, 1043, 1036, 1042, 1028, 1006, 1001, 1027, 1033] %}
          {% for index in [ 0,1,2,3,4,5,6,7,8 ] %}
          <label for="{{stat[index]}}"> {{ stat[index] }} </label>
          <div class="guesses">
            <div class="container" id="{{stat[index]}}" onclick="fill_onclick(this, '/items/{{item[index]}}.png')" onmouseover="fill_image(this, '/items/{{item[index]}}.png')" onmouseout="remove_image(this)">
              <input type="radio" name="{{ stat[index] }}" value="{{ champ_1 }}" id="{{ champ_1 }}_{{stat[index]}}">
            </div>
            <div class="container" id="{{stat[index]}}" onclick="fill_onclick(this, '/items/{{item[index]}}.png')" onmouseover="fill_image(this, '/items/{{item[index]}}.png')" onmouseout="remove_image(this)">
              <input type="radio" name="{{ stat[index] }}" value="draw" id="{{stat[index]}}_draw" />
            </div>
            <div class="container" id="{{stat[index]}}" onclick="fill_onclick(this, '/items/{{item[index]}}.png')" onmouseover="fill_image(this, '/items/{{item[index]}}.png')" onmouseout="remove_image(this)">
              <input type="radio" name="{{ stat[index] }}" value="{{ champ_2 }}" id="{{ champ_2 }}_{{stat[index]}}" />
            </div>
          </div>
        {% endfor %}
        
        <button class="refresh" hx-get="/stat_check" hx-target="body" onclick="purge()">
          ROLL
          (are you that scared?)
        </button>
        <button id="check_them_stats" type="submit" onclick="purge()"> CHECK </button>
        </form>
      </div>
    </div>
    <footer>
      Developed with ♡ by <a target="_blank" href="https://github.com/itsMugen"> Mugen </a>
    </footer>
  </body>
</html
