<html>
  <head>
    <link rel="stylesheet" href="styles/styles.css" />
    <script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/json-enc.js"></script>
  </head>
  <div>
    <div class="display_champs">
      <div class="champion">
        <img src="champ_images/{{champion_name_1}}_0.jpg" alt="" />
      </div>
      <div class="champion">
        <img src="champ_images/{{champion_name_2}}_0.jpg" alt="" />
      </div>
      <div class="stats">
        <form hx-post="/check_stats">
        {% set stat = ["armor", "attackrange", "attackdamage", "attackspeed", "hp", "hpregen", "movespeed", 
          "mana", "magic_resist"] %}
        {% set item = [1029, 1043, 1036, 1042, 1028, 1006, 1001, 1027, 1033] %}
        {% for index in [ 0,1,2,3,4,5,6,7,8 ] %}
          <input type="radio" name="{{ stat[index] }}" value="{{ stat[index] }}" id="{{ champion_name_1 }}" />
          <img src="items/{{ item[index] }}.png" alt=""/>
          <div>
            <input type="radio" name="{{ stat[index] }}" value="{{ champion_name_1 }}" id="{{ champion_name_1 }}_{{index}}" />
            <input type="radio" name="{{ stat[index] }}" value="{{ stat[index] }}" id="draw" />
            <input type="radio" name="{{ stat[index] }}" value="{{ champion_name_2 }}" id="{{ champion_name_2 }}_{{index}}" />
          </div>
        {% endfor %}
        
        <button type="submit"> CHECK </button>
        </form>
      </div>
    </div>
  </div>
</html>
