<div class="result_container">
  <div class="score">
    {{ score }}/9 
  </div>
  <div id="comment">
    {{ comment }}
  </div>
  {% set stat = ["armor", "attackrange", "attackdamage", "attackspeed", "hp", "hpregen", "movespeed", 
      "resource_bar", "magic_resist"] %}
  {% set item = [1029, 1043, 1036, 1042, 1028, 1006, 1001, 1027, 1033] %}
  {% for index in [ 0,1,2,3,4,5,6,7,8 ] %}
      <div class="result">
        <div>
          {{stat[index]}}
        </div>
        <div>
          <img src="/items/{{item[index]}}.png" alt="">
          <img src="/assets/{{guess_bool[index]}}.png" alt="">
        </div>
        <div>
          your guess: {{ player_guess[index] }} 
        </div>
        <div>
          correct guess: {{correct_guess[index]}}
        </div>
      </div>
  {% endfor %}
</div>
