.display_champs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  width: 100vw;
  height: 100vh;
  justify-items: center;
  align-items: center;
}

.stats {
  display: grid;
  grid-column-start: 2;
  grid-row-start: 1;
  grid-template-columns: 1fr;
  justify-items: center;
}

.selector { 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.champion img {
  width: 45vw;
  margin: 17px;
}

.stats img {
  grid-column: span 3;
}

body { 
  margin: 0px;
} 
