.display_champs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  width: 100vw;
  height: 100vh;
  justify-items: center;
  align-items: center;
  position: absolute;
  z-index: 1;
}

.result_container{
  display: grid;
  grid-template: 1fr 1fr;
  grid-column-start: 2;
  grid-row-start: 1;
  height: 85vh;
  width: 12vw;
}

.stats {
  grid-column-start: 2;
  grid-row-start: 1;
  height: 70vh;
  width: 12vw;
}

.result_container img {
  height: 2rem;
  width: 2rem;
}

.guesses { 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 4px;
}

.container {
  height: 4rem;
  width: 4rem;
  border-radius: 1rem;
  border: solid 2px #c8aa6e;
  margin: 0 4px;
  display: flex;
  align-items: center;
  justify-items: center;
  background: #e0dad4;
  box-shadow: 2px 4px 1rem black;
}

.champion{
  margin: 1.5vw;
  border: solid 4px #c8aa6e;
  border-radius: 2rem;
  width: 40vw;
  box-shadow: 2px 8px 1rem black;
}

.champion img {
  border-radius: 2rem;
  width: 40vw;
  height: 24vw;
}

.result {
  display: flex;
  text-align: center;
  font-size: 1rem;
  flex-direction: column;
  border: solid 4px #c8aa6e;
  margin: 4px;
  padding: 4px;
  border-radius: 1rem;
}

.score{
  height: 1rem;
  text-align: center;
}

button {
  padding: 1rem;
  font-weight: bold;
  margin-top: 1rem;
  box-shadow: 2px 2px 1rem #c8aa6e;
  background: #c8aa6e;
  font-size: 1rem;
  border-radius: 0.5rem;
}

button#check_them_stats{
  display: none;
}

button:hover {
  background: #e0d2b5;
  box-shadow: 4px 4px 1.5rem #e0d2b5;
}

#comment{
  height: 1rem;
  text-align: center;
}

form {
  width:12vw;
  justify-items: center;
}

body { 
  margin: 0px;
  position:relative;
  background-color: black;
  color: white;
  text-shadow: 2px 4px black;
  font-family: tahoma;
  font-size: 1rem;
}

.background{
  position: absolute;
  background-image: url("/assets/background.jpg");
  opacity: 0.3;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}

input{ 
  height: 4rem;
  width: 4rem;
  border-radius: 1rem;
  margin: 0;
  opacity: 0;
}

footer{
  z-index: 1;
  position: fixed;
  bottom: 0;
  left:0;
  right: 0;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: #d199ff;
}
